{% embed 'partials/base.html.twig' %}
	{% set collection = page.collection() %}
	{% set base_url = page.url %}
	{% set feed_url = base_url %}

	{% if base_url == '/' %}
		{% set base_url = '' %}
	{% endif %}

	{% if base_url == base_url_relative %}
		{% set feed_url = base_url~'/'~page.slug %}
	{% endif %}

	{% block content %}
		<div class="container">
			<div class="row">
				<div class="col s12 m8 l8">
				</br>
				<h4>How Can I...</h4>
					<ul class="collapsible popout" data-collapsible="accordion">
				    <li>
				      <div class="collapsible-header"><h6>Benefit from and apply a people-centered design mindset and process?</h6></div>
				      <div class="collapsible-body">
									{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_activity-centered-design')} %}
									{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_agile-ux')} %}
									{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_lean-ux')} %}
									{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_scenario-based-design')} %}
									{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_usability')} %}
									{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_user-centered-design')} %}
									{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_user-experience-design')} %}
									{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_user-experience-strategy')} %}
								</div>
				    </li>
				    <li>
				      <div class="collapsible-header"><h6>Learn more about the needs of my audience?</h6></div>
				      <div class="collapsible-body">
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_card-sorts')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_content-inventory')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_contextual-inquiry')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_five-whys')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_user-research-formal')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_user-research-informal')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_interviews')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_journey-mapping')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_contextal-inquiry-remote')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_surveys')} %}
							</div>
				    </li>
				    <li>
				      <div class="collapsible-header"><h6>Describe and categorize information about my audience?</h6></div>
				      <div class="collapsible-body"><p>
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_affinity-diagrams')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_empathy-maps')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_job-stories')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_personas')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_personas-proto')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_task-analysis')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_scenarios')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_user-profiles')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_user-stories')} %}
							</div>
				    </li>
						<li>
							<div class="collapsible-header"><h6>Conceptualize possible design solutions?</h6></div>
							<div class="collapsible-body">
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_conceptualizing-interaction')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_concept-maps')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_design-thinking')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_design-paterns')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_problem-reframing')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_process-flows')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_site-maps')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_sketching')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_storyboards')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_wireflows')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_wireframes')} %}
							</div>
						</li>
						<li>
							<div class="collapsible-header"><h6>Create a usable, useful, and enjoyable user interface?</h6></div>
							<div class="collapsible-body">
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_cognitive-psychology')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_conceptual-models')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_design-principles')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_emotional-design')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_handling-errors')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_interaction-design')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_user-interface-design')} %}
							</div>
						</li>
						<li>
							<div class="collapsible-header"><h6>Design a user interface for mobile and multi-device usage?</h6></div>
							<div class="collapsible-body">
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_content-prioritization')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_designing-for-touch')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_mobile-and-multidevice-web-design')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_responsive-html-frameworks')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_responsive-web-design')} %}
							</div>
						</li>
						<li>
							<div class="collapsible-header"><h6>Visually design and display information more effectively?</h6></div>
							<div class="collapsible-body">
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_color')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_hierarchy')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_icons')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_layout')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_terminology')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_typography')} %}
							</div>
						</li>
						<li>
							<div class="collapsible-header"><h6>Inspect a user interface to access its quality of design?</h6></div>
							<div class="collapsible-body">
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_cognitive-walkthroughs')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_heuristic-evaluations')} %}
							</div>
						</li>
						<li>
							<div class="collapsible-header"><h6>Plan, conduct, and summarize usability tests with my target audience?</h6></div>
							<div class="collapsible-body">
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_usability-testing-informal')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_rapid-iterative-testing-and-evaluation-method')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_usability-testing-remote')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_usability-testing')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_usability-test-surveys')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_usability-test-tasks')} %}
								{% include 'topic.html.twig' with {'page': page.find('/ux-techniques-guide/_usability-test-reports')} %}								</div>
						</li>
				  </ul>

					{{ page.content }}

				</div>

				<div class="col s0 m4 l4 blog-sidebar">
					{% include 'partials/sidebar.html.twig' %}
					{# {% include 'partials/sidebar_page.html.twig' with {'page':'sidebar', 'truncate':false} %} #}
				</div>
			</div>
		</div>
	{% endblock %}

{% endembed %}
