{% embed 'partials/base.html.twig' %}
{% set base_url = page.parent.url %}
{% set feed_url = base_url %}
{% if base_url == '/' %}
	{% set base_url = '' %}
{% endif %}
{% if base_url == base_url_relative %}
	{% set feed_url = base_url~'/'~page.parent.slug %}
{% endif  %}
{% block content %}
	<div class="container">
		<div class="row">
			{% if not grav.uri.param('onlydisplaypagecontent') %}
				<div class="col s12 m8 l8 blog-main">
				{% else %}
					<div class="col s12 m12 offset-l1 l10 blog-main">
					{% endif %}
					{% if config.plugins.breadcrumbs.enabled %}
						{% include 'partials/breadcrumbs.html.twig' %}
					{% else %}
						</br>
					{% endif %}
					{% include 'partials/blog_item.html.twig' with {'truncate':false,'big_header':true} %}
				</div>
				{% if not grav.uri.param('onlydisplaypagecontent') %}
					<div class="col s0 m4 l4 blog-sidebar">
						{% include 'partials/sidebar.html.twig' %}
					{% endif %}
				</div>
			</div>
		</div>
	{% endblock %}
{% endembed %}